*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    min-width: 1240px;
    width: 100%;
    margin: auto;
}
h1{
 font-size: 80px;
}
h2{
    font-size: 20px;
}
p{
    font-size: 16px;
    margin-top: 20px;
    line-height: 25px;
}
 button{
    padding: 20px;
    background-color: #D35324;
    color: white;
    width: 10%;
    font-size: 20px;
    border-radius: 20px;
    border: none;
  
}

header{
    padding: 20px;
    /* background-color: yellow; */
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
nav a{
    color: black;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}
 nav :hover{
  color: #D35324;
  transition: all 0px 4s;
} 
}
#home{
 background-image: url(./image/slide1.jpg);  
 height: 100vh;
 font-size: 80px;
 color: white;
 text-align: center;
 display: flex;
 align-items: center;
 background-size: cover;
 
}

  #home button{
    margin-top: 50px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 10%;
    text-align: center;
    padding: 20px;
     background: transparent;
     border: 3.3px solid#D35324; ;
  
 } 
/* =====home-end==== */
#about{
   background-color: #F5F5F5;

  width: 100%;
  
 .main-about{
     gap: 20px;
    display: flex; 
 }
.about-box2{
    margin-top: 30px;
    padding-left: 30px;
  width: 50%;  
}
.about-box1{
    display: flex;
    align-items: center;
    justify-content: space-around;
      width: 50%;
background-color: #FB5B21;

}

.about-item{
    p{
        width: 400px;
    }
}
}