* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1240px;
    width: 1920px;
    margin: auto;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 70px;
}

h4 {
    font-size: 30px;

}

p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 25px;
}



header {
    padding: 20px;
    /* background-color: yellow; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    nav a {
        color: black;
        text-decoration: none;
        margin: 20px;
        font-size: 20px;
    }

    nav :hover {
        color: #D35324;
        transition: all 0px 4s;
    }

    button {
        padding: 20px;
        background-color: #D35324;
        color: white;
        width: 10%;
        font-size: 20px;
        border-radius: 20px;
        border: none;

    }
}

#home {
    background-image: url(./image/slide1.jpg);
    height: 100vh;
    font-size: 80px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    background-size: cover;

}


.home-text {
    .orangered {
        color: orangered;
    }
}


/* =====home-end==== */
/* =====about==== */
#about {

    background-color: #F5F5F5;

    width: 100%;

    .main-about {
        gap: 60px;
        display: flex;
        background-color: #F5F5F5;


    }

    .about-box2 {
        margin-top: 30px;
        padding-left: 30px;
        width: 50%;
    }

    .image {
        background-color: #D35324;
        width: 50%;
        display: flex;

        align-items: center;


    }

    img {
        margin-left: 40%;
        margin-top: 30px;
    }

    .text {
        h2 {
            margin-right: 80px;
            text-align: center;
            margin-top: 30%;
            color: white;
            padding-bottom: 40%;

        }
    }

    /* .about-box1{
    display: flex;
    align-items: center;
    justify-content: space-around;
      width: 50%;
background-color: #FB5B21;

} */

    .about-item {


        p {
            width: 400px;
            margin-top: 30px;
        }

        h3 {
            margin-top: 30px;
            color: #D35324;
        }
    }
}

/* =====about-end==== */
#classes {
    padding: 70px 0;

    .main-about {
        align-items: center;
        display: flex;
        margin-top: 30px;
        gap: 30px;
    }

    .about-box1 {
        display: flex;
        align-items: end;
        margin-top: 30px;
        background-color: orangered;
        background-image: url(./image/feature1.jpg);
        background-size: cover;
        width: 370px;
        height: 20vh;
    }

    .about-box2 {
        display: flex;
        align-items: end;
        margin-top: 30px;
        background-color: orangered;
        background-image: url(./image/feature2.jpg);
        background-size: cover;
        width: 370px;
        height: 20vh;
    }

    .about-box3 {
        display: flex;
        align-items: end;
        margin-top: 30px;
        background-color: orangered;
        background-image: url(./image/feature3.jpg);
        background-size: cover;
        width: 370px;
        height: 20vh;
    }

    .orangered {
        background-color: orangered;
        padding: 10px;
    }

    p {
        /* background: #ffff; */
    }

    span {
        background-color: white;
        padding: 10px;
        display: inline-block;

    }

    .box1 {
        /* display: flex; */
        padding: 20px;
        align-items: center;
        background-color: orangered;
        /* width: 31%; */
        height: 10vh;

        h3 {

            font-size: 20px;
            color: white;
            text-align: justify;
            margin: 0px 20px;
        }

        p {
            font-size: 15px;
            color: white;
            text-align: justify;
            margin: 5px 20px;
        }
    }
}

/* ========about-end======== */
#schedule {
    padding: 0px 70px;
    background-color: #F5F5F5;
    width: 100%;

    .schedule {
        display: flex;
        align-items: center;
    }

    h2 {
        /* margin-top: 40%; */
        font-size: 100px;
        font-family: 700px;



    }

    .text {
        position: absolute;
        padding-top: 12%;
        margin-left: 25%;

    }


    .image img {
        margin-top: 40px;
        max-width: 100%;
    }

    .orangered {
        color: orangered;
    }

    p {
        color: #d2d2d2;
        font-size: 47px;
        font-weight: bold;
        letter-spacing: 52px;
    }

    button {
        margin-top: 40px;
        width: 30%;
        padding: 20px;
        font-size: 20px;
        color: white;
        border-radius: 15px;
        border: none;
        background-color: orangered;
    }

    button:hover {
        color: white;
        background-color: black;
        transition: all 2px;
    }
}

/* ==============schedule-end============= */
#traners {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%),
        url('./image/class-schedule.png') no-repeat;

    background-size: cover;
    width: 100%;

    /* height: 50vh; */
    .time-main {
        margin-top: 40px;
        background-color: orangered;
        padding: 65px 50px;
    }

    .text h2 {
        padding: 50px;
        margin-left: -44px;
        color: white;
        font-size: 30px;
    }

    .my-nab li {
        display: inline-block;
        float: inherit;
        margin: 0px;

    }

    .my-nab li a {
        background-color: #DD4813;
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 20px;
        margin: 21px;
        text-align: center;
        border: none;
        border-radius: 30px;
        padding: 12px 20px;
    }

    .odd-item {
        margin-top: 30px;
    }

    .odd {
        background-color: #DD4813;
        border-radius: 35px;
        display: flex;
        margin-top: 10px;
        text-align: center;
        text-decoration: none;
        list-style: none;
        color: white;
        font-size: 20px;
        padding: 28px;
        justify-content: space-between;

        .odd li {
            text-align: center;
        }

        .child-1 a {
            text-decoration: none;
            background-color: #fff;
            padding: 10px;
            border-radius: 15px;
            color: black;
        }

    }
}

#news {

    height: 60vh;

    .text h2 {
        margin-left: -44px;
        padding: 50px;
        font-size: 30px;
    }

    .main {
        display: flex;
        gap: 30px;
        margin-top: 9%;
        align-items: center;

    }

    .image img {
        width: 100px;
        border-radius: 50%;
        padding: 10px;
        margin-bottom: 40px;
    }

    .details h5 {
        font-size: 20px;
    }

    p {
        line-height: 30px;

    }

}

#pages {

    background-image: url(./trainer-bag.jpg);
    background-size: cover;
    height: 80vh;

    .text h2 {
        margin-left: -44px;
        padding: 50px;
        font-size: 30px;
    }

    .main-box {
        display: flex;
        gap: 40px;
    }

    .box1 img {
        border-radius: 15px;

    }

    .main-text {
        position: absolute;
        width: 290px;
        display: block;
        align-items: center;
        margin-left: 40px;
        background-color: #FB5B21;
        border-radius: 20px;
        margin-top: 10px;
        padding-bottom: 10px;


    }

    .main-text h3 {
        color: white;
        padding: 10px;
        font-size: 25px;
        text-align: center;


    }

    span {
        font-size: 20px;
        text-align: center;
        margin-left: 31%;

    }

}

#table {
    background-color: #222222;
    padding: 80px;

    .text h2 {
        color: white;
        margin-left: -11px;
        padding: 50px;
        font-size: 30px;
    }

    .main-table {
        display: flex;
        gap: 20px;

    }

    .table-box1 {
        border-radius: 15px;
        display: block;
        margin-left: 40px;
        justify-content: space-around;
        background-color: white;
        padding: 40px;
        width: 30%;

    }

    span {
        font-size: 20px;
        color: #727272;
        letter-spacing: 1px;

    }

    h3 {
        margin-top: 20px;
        font-size: 40px;
        color: #FB5B21;

    }

    .hhh {
        color: #505056;
        font-size: 20px;
    }

    .item {
        margin-left: 62px;
    }

    ul li {
        text-decoration: none;
        list-style: none;
        padding: 15px;
    }

    button {
        text-transform: uppercase;
        border: 2px solid #fb5b21;
        border-radius: 65px;
        color: #333333;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 20px;
        padding: 12px 35px;

   


    }
    button:hover{
        transition: all 1s;
        color: white;
        background-color: #fb5b21;
    }
}

#GALLERY {
    padding: 70px;
    background-color: white;
    width: 100%;

    .text h2 {
        color:black;
        margin-left: -20px;
        padding: 50px;
        font-size: 30px;
    }
    .gallery-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul{
        display: flex;
        gap: 30px;
       
       
    }
    .item-2{
       margin-right: 7%;
    }
    ul li {
        
         list-style: none;
    }
    li a{
        background: transparent;
        text-decoration: none;
         font-size: 20px;
         border-radius: 25px;
         padding: 10px 20px;
         color: black;
         border: #fb5b21 solid 1px;
    }
    li  :hover{
         background-color: #fb5b21;
         color: white;
         text-transform: uppercase;
         transition: all 1s;
     
    }
    .image{
        display: flex;
        justify-content: space-between;
     img{
        width: 400px;
     }   
    }
}    